@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #810917;
  --bg-color: #e8e8e8;

  font-size: 62.5%; /* 1rem = 10px */
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--bg-color);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}
